/* 게시판 전체 공통 */
.mid-0 .xans-board-title p.imgArea { margin:0 0 20px; }

/* read */
.mid-0 .xans-board-read table td .info { position:relative; }
.mid-0 .xans-board-read table td .hit { position:absolute; top:0; right:15px; text-align:right; }
.mid-0 .xans-board-read table td .gMin60 { display:inline-block; min-width:60px; }
.mid-0 .xans-board-read table td .detail { padding:17px 17px 15px; }
    .mid-0 .xans-board-read table td .detail ol,
    .mid-0 .xans-board-read table td .detail ul { margin:15px 0; padding:0 0 0 40px; }
    .mid-0 .xans-board-read table td .detail ol li { list-style:decimal; }
    .mid-0 .xans-board-read table td .detail ul li { list-style:disc; }
.mid-0 .xans-board-read table td .attach a { padding:0 0 0 12px; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/board/ico_attach1.gif") no-repeat 0 0; }

/* 상품게시판 - 선택상품 */
.mid-0 .xans-board-product .prdThumb { float:left; margin:0 15px 0 0; }