.mid-0.xans-myshop-benefit .myThumb { float:left; margin:0 15px 0 0; }
.mid-0.xans-myshop-benefit .myInfo { line-height:18px; }
.mid-0.xans-myshop-benefit .boxTheme > span input { width:439px; }

.mid-0.xans-myshop-asyncbenefit .myThumb { float:left; margin:0 15px 0 0; }
.mid-0.xans-myshop-asyncbenefit .myInfo { line-height:18px; }
.mid-0.xans-myshop-asyncbenefit .boxTheme > span input { width:439px; }