@charset "utf-8";

/* common */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
html { width:100%; height:100%; }
body {
    min-width:1349px;
}
body, .layerTheme .content {
    background:none repeat 0 0;
    background-color:#fff;
}
input,select,textarea,label span { vertical-align:middle; background:#fff; }
input[type="text"], input[type="password"] { height:20px; margin:0; padding:0 5px; line-height:20px; border:1px solid #d5d5d5; }
input[type="file"] { border:1px solid #d5d5d5; }
input[type="radio"], input[type="checkbox"] { margin:0 5px; }
input[type="radio"]:first-child, input[type="checkbox"]:first-child { margin-left:0; }
label { margin:0; }
select { padding:2px 1px 1px; line-height:1em; border:1px solid #d5d5d5; }
textarea { width:98.5%; padding:5px 6px; border:1px solid #d5d5d5; line-height:1.5; }
legend { visibility:hidden; position:absolute; left:-9999px; top:-9999px; width:0; height:0; line-height:0; }
hr.layout { display:none; }

.gSingle { display:block; margin-top:5px; }
.gDouble { display:block; margin-top:10px; }
.gTriple { display:block; margin-top:20px; }
.gIndent { margin-left:20px; }
.gSpace { margin-right:20px; }
.empty { padding:50px 0; text-align:center; font-weight:bold; color:#757575; }
.discount { text-decoration:line-through; }

/* 전체폭 */
#header .wyGrid, #footer .wyGrid, #container,
body.center #contents,
body.center .centerCategory .wyGrid,
body.center .promotionArea .wyGrid {
    width:1218px;
}
#header .inner, #footer .inner, #container,
body.center .centerCategory .wyGrid,
body.center .promotionArea .wyGrid {
    padding:0 121px 0 0px;
}

/* 좌측폭 */
#sidebar,
.xans-layout-searchside fieldset,
.xans-layout-login .check span,
.xans-layout-logobottom {
    width:180px;
}
.wySnbAlignLeft .xans-layout-category.category .sub-category,
.xans-layout-categorysupplylist.categorySupply .sub-category {
    left:180px;
 }
.wySnbAlignRight .xans-layout-category.category .sub-category {
    right:180px;
}

/* 상단 */
#header {
    background:none repeat 0 0;
    background-color:transparent;
}
#header:after { content:""; display:block; clear:both; }
#header .wyGrid { position:relative; *zoom:1; }
    #header .wyGrid.wyPageAlignLeft { float:left; }
    #header .wyGrid.wyPageAlignRight { float:right; }
    #header .wyGrid.wyPageAlignCenter { margin:0 auto; }
#header .inner { line-height:1em; }
#header .inner:after { content:""; display:block; clear:both; }
#header .topArea { min-height:40px; padding:0; text-align:center; line-height:1; *zoom:1; }
#header .topArea:after { content:""; display:block; clear:both; }
#header .special { float:left; padding:0; }
#header .special li { float:left; }
#header .link { float:left; padding:16px 0 0 0; }

/* 컨텐츠 */
#wrap {}
#wrap:after { content:""; display:block; clear:both; }
#wrap .wyGrid {
    position:relative; margin:27px auto 40px;
    width:1339px;
}
    #wrap .wyGrid.wyPageAlignLeft { float:left; }
    #wrap .wyGrid.wyPageAlignRight { float:right; }
    #wrap .wyGrid.wyPageAlignCenter {}
#container { *zoom:1; }
#container:after { content:""; display:block; clear:both; }
    #container.wySnbAlignLeft #sidebar { margin:0; float:left; }
    #container.wySnbAlignRight #sidebar { margin:0; float:right; }
#sidebar .banner { padding:0 0 10px 0; }
#sidebar .banner p { display:block; padding:3px 0; }
#contents, .xans-layout-footer {
    width:1014px;
}
    #container.wySnbAlignLeft #contents { float:right; padding:0 0 0 24px; }
    #container.wySnbAlignRight #contents { float:left; padding:0 24px 0 0; }

#banner {
    position:absolute; top:0; left:0; width:90px;
    display:none;
}
#quick {
    position:absolute; top:0; right:0; width:90px;
    display:block;
}
#quick .banner a { display:block; margin:15px 0 0 0; }

/* 하단 */
#footer {
    background:none repeat 0 0;
    background-color:transparent;
}
#footer:after { content:""; display:block; clear:both; }
#footer .wyGrid { position:relative; overflow:hidden; *zoom:1; }
    #footer .wyGrid.wyPageAlignLeft { float:left; clear:both; }
    #footer .wyGrid.wyPageAlignRight { float:right; clear:both; }
    #footer .wyGrid.wyPageAlignCenter { margin:0 auto; }

/* Main */
#boardArea { overflow:hidden; margin:50px 0 0; border-top:1px solid #d8d8d8; *zoom:1; }
#boardArea div[class*="tableTheme"] { margin:0 0 65px; }
#boardArea .leftArea { float:left; width:50%; }
#boardArea .leftArea div[class*="tableTheme"] { position:relative; margin:0 10px 0 0; }
#boardArea .rightArea { float:right; width:50%; }
#boardArea .rightArea div[class*="tableTheme"] { position:relative; margin:0 0 0 10px; }
#boardArea div[class*="tableTheme"] > .more { position:absolute; top:-22px; right:0; padding:0; }
#bannerArea { margin:22px 0 0; }
#bannerArea h2 { margin:0 0 16px; text-align:center; }

/* 레이아웃 중앙형 */
body.center #header:after { content:""; display:block; clear:both; }
    body.center .centerCategory .wyGrid.wyPageAlignLeft { float:left; }
    body.center .centerCategory .wyGrid.wyPageAlignRight { float:right; }
    body.center .centerCategory .wyGrid.wyPageAlignCenter { margin:0 auto; }

/* 레이아웃 중앙형 > 하단 프로모션 */
body.center .promotionArea { margin:24px 0 0; padding:0 0 79px; height:87px; }
    body.center .promotionArea .wyGrid.wyPageAlignLeft { float:left; }
    body.center .promotionArea .wyGrid.wyPageAlignRight { float:right; }
    body.center .promotionArea .wyGrid.wyPageAlignCenter { margin:0 auto; }
body.center .promotionArea .promotion { overflow:hidden; height:87px; margin:0 auto; }
body.center .promotionArea #banners {
    position:relative; overflow:hidden; height:87px; margin:30px 5px 0 15px; white-space:nowrap;
    width:800px;
}
body.center .promotionArea #banners .banner { position:absolute; float:left; }
body.center .promotionArea #banners .banner span { display:inline-block; padding:0 3px 0 3px; }
body.center .promotionArea #banners .banner span > span { padding:0; }

/* 탐색경로바 */
.path { overflow:hidden; height:30px; line-height:30px; *zoom:1; }
.path span { overflow:hidden; position:absolute; width:0; height:0; white-space:nowrap; text-indent:100%; }
.path ol { float:right; }
.path li { float:left; padding:0 0 0 12px; margin:0 0 0 8px; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/common/ico_path.gif") no-repeat 0 10px; }
.path li:first-child { background:none; }

/* 타이틀 */
.titleArea { margin:10px 0 20px; border-bottom:1px solid #e8e8e8; }
.titleArea h2 { display:inline-block; min-height:30px; padding:0; *display:inline; *zoom:1; }
.titleArea p { display:inline-block; margin:0 0 0 6px; padding:0 0 0 10px; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/common/ico_title.gif") no-repeat 0 4px; *display:inline; *zoom:1; }
.titleArea p.banner { display:block; margin:0 0 20px 0; padding:0; background:none; }
.titleArea ul { padding:5px 0; }

.title { margin:0 0 10px 0; }
.title h3 { padding:30px 0 0 10px; }
.title .required { margin:-18px 0 0; text-align:right; }
.title .required img { vertical-align:middle; }

/* 전체게시판 메인 */
.boardMain { overflow:hidden; position:relative; *zoom:1; }
.boardMain div[class*="tableTheme"] { margin:0 0 65px; }
.boardMain .leftArea { float:left; width:50%; }
.boardMain .leftArea div[class*="tableTheme"] { position:relative; margin:0 23px 65px 0; }
.boardMain .rightArea { float:right; width:50%; }
.boardMain .rightArea div[class*="tableTheme"] { position:relative; margin:0 0 65px 23px; }
.boardMain div[class*="tableTheme"] > .more { position:absolute; top:0; right:0; padding:2px; }

/* 퀵뷰 모달 */
#modalBackpanel { display:none; position:absolute; top:0; left:0; z-index:10000; width:100%; height:100%; background:#000; }
#modalContainer { display:none; position:absolute; top:100px; left:100px; z-index:10001; width:975px; height:720px; border:1px solid #333; background:#fff; }
#modalContainer #modalContent { width:100%; height:100%; }