.mid-0.xans-product-recentlist table td select { width:100%; margin:2px 0; white-space:nowrap; }
.mid-0.xans-product-recentlist table td input[class*="ProductAddOption"] { width:95%; }
.mid-0.xans-product-recentlist table td .strike { display:block; font-weight:normal; text-decoration:line-through; }