.popup { min-width:600px; height:400px; }
.mid-0.xans-search-frompackage #keyword { width:240px; }
.mid-0.xans-search-frompackage .resultArea { overflow:hidden; text-align:right; line-height:24px; *zoom:1; }
.mid-0.xans-search-frompackage .total { float:left; }
.mid-0.xans-search-frompackage img { border:0; padding:0; margin:0; }