/* 상품상세 > 재고수량 레이어 */
.mid-0.xans-product-stocklayer .layerTheme { width:410px; }
.mid-0.xans-product-stocklayer .content { overflow-y:auto; max-height:300px; }
.mid-0.xans-product-stocklayer .content table { border:1px solid #d7d5d5; }
.mid-0.xans-product-stocklayer .content thead th { text-align:center; }