body.popup { overflow:hidden; min-height:698px; min-width:975px; }
body.popup .mid-0.xans-product-zoompackage .content { overflow:auto; position:relative; height:600px; margin-bottom:50px; padding:0 20px 0; }
body.popup .mid-0.xans-product-zoompackage .buttonArea { z-index:1; }

/* imgArea */
.mid-0 .xans-product-zoom .imgArea { float:left; width:500px; padding:20px 0 0; }
.mid-0 .xans-product-zoom .imgArea .keyImg { position:relative; margin:0 27px; min-height:43px; vertical-align:top; text-align:center; }
.mid-0 .xans-product-zoom .imgArea .keyImg img { max-width:100%; border:1px solid #ececec; vertical-align:middle; cursor:pointer; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
.mid-0 .xans-product-zoom .imgArea .keyImg > .prev { position:absolute; left:0; top:50%; margin:-22px 0 0; }
.mid-0 .xans-product-zoom .imgArea .keyImg > .next { position:absolute; right:0; top:50%; margin:-22px 0 0; }

.mid-0 .xans-product-zoom .imgArea .keyImg .prdImg { display:inline-block; position:relative; max-width:100%; }
.mid-0 .xans-product-zoom .imgArea .keyImg .prdIcon { position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; }

.mid-0 .ec-product-bgLT { background-position:left top; }
.mid-0 .ec-product-bgLC { background-position:left center; }
.mid-0 .ec-product-bgLB { background-position:left bottom; }
.mid-0 .ec-product-bgRT { background-position:right top; }
.mid-0 .ec-product-bgRC { background-position:right center; }
.mid-0 .ec-product-bgRB { background-position:right bottom; }
.mid-0 .ec-product-bgCT { background-position:center top; }
.mid-0 .ec-product-bgCC { background-position:center center; }
.mid-0 .ec-product-bgCB { background-position:center bottom; }

.mid-0 .xans-product-zoom .imgArea .topLogo { overflow: hidden; padding: 0 0 15px; *zoom:1; text-align:left; }

.mid-0 .xans-product-zoom .imgArea .listImg { overflow:hidden; margin:30px 27px 0; }
.mid-0 .xans-product-zoom .imgArea .listImg ul { height:77px; margin:0 0 0 2px; font-size:0; line-height:0; }
.mid-0 .xans-product-zoom .imgArea .listImg li { display:inline-block; margin:0 1px; line-height:14px; vertical-align:top; *display:inline; *zoom:1; }
.mid-0 .xans-product-zoom .imgArea .listImg li img { width:65px; height:75px; border:1px solid #ececec; cursor:pointer; }
.mid-0 .xans-product-zoom .imgArea .listImg button { position:absolute; top:0; width:21px; height:77px; font-size:0; line-height:0; color:transparent; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/btn_product_detail_ctrl.png") no-repeat; }
.mid-0 .xans-product-zoom .imgArea .listImg .prev { left:0; background-position:0 0; }
.mid-0 .xans-product-zoom .imgArea .listImg .next { right:0; background-position:-31px 0; }
.mid-0 .xans-product-zoom .imgArea .control { overflow:hidden; margin:30px 27px 0; border:1px solid #d7d5d5; text-align:center; background:#fbfafa; }
.mid-0 .xans-product-zoom .imgArea .control .prev { float:left; border-right:1px solid #d7d5d5; }
.mid-0 .xans-product-zoom .imgArea .control .next { float:right; border-left:1px solid #d7d5d5; }
.mid-0 .xans-product-zoom .imgArea .color { overflow:hidden; margin:20px 0 17px; }
.mid-0 .xans-product-zoom .imgArea .chips { float:left; width:28px; height:18px; margin:0 3px 3px 0; border:1px solid #e3e3e3; font-size:0; line-height:0; }

/* likeButton */
.mid-0 .xans-product-zoom .likeButton { display:table; margin:20px auto 10px; text-align:center; font-size:14px; }
.mid-0 .xans-product-zoom .likeButton button { display:inline-block; padding:11px 20px; border:1px solid #b4b4b4; border-bottom-color:#969696; border-radius:2px; color:#737373; line-height:1em; text-align:right; background-color:#fff; *zoom:1; }
.mid-0 .xans-product-zoom .likeButton button span { display:inline-block; height:16px; line-height:16px; vertical-align:middle; font-family:Gulim, sans-serif; *zoom:1; }
.mid-0 .xans-product-zoom .likeButton button img { vertical-align:middle; }
.mid-0 .xans-product-zoom .likeButton .title { padding:0 9px 0 0; margin:0 8px 0 0; min-width:0; text-align:left; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/bg_bar.gif") no-repeat 100% 3px; }
.mid-0 .xans-product-zoom .likeButton.selected .title { color:#ef514c; }
.mid-0 .xans-product-zoom .likeButton.selected .count { color:#353535; }

/* infoArea */
.mid-0 .xans-product-zoom .infoArea { float:right; width:401px; padding:20px 0 0; }
.mid-0 .xans-product-zoom .infoArea > h3 { padding:22px 5px 20px 9px; border-bottom:1px solid #e8e8e8; }
.mid-0 .xans-product-zoom .infoArea .icon { padding:0 0 0 10px; }
.mid-0 .xans-product-zoom .infoArea .icon img { vertical-align:middle; }
.mid-0 .xans-product-zoom .infoArea p.delivery { padding:10px 0 20px; }
.mid-0 .xans-product-zoom .infoArea > .info { margin:7px 0 0; padding:8px 0 0 11px; border-top:1px solid #e8e8e8; }

.mid-0 .xans-product-zoom .infoArea th { width:115px; padding:7px 0 8px 9px; text-align:left; vertical-align:top; }
.mid-0 .xans-product-zoom .infoArea td { padding:7px 10px 8px 0; vertical-align:top; }
.mid-0 .xans-product-zoom .infoArea td select { width:100%; }
.mid-0 .xans-product-zoom .infoArea td #delivery_cost_prepaid { margin:0 0 5px; }
.mid-0 .xans-product-zoom .infoArea td .inputWrap { display:block; padding:0 4px; border:1px solid #c5c5c5; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; background:#fff; }
.mid-0 .xans-product-zoom .infoArea td .inputWrap input { width:100%; border:0; padding:0; line-height:22px; }
.mid-0 .xans-product-zoom .infoArea td.social { padding:4px 0 0; }
.mid-0 .xans-product-zoom .infoArea td.social img { cursor:pointer; }
.mid-0 .xans-product-zoom .infoArea td .sale { text-decoration:line-through; }
.mid-0 .xans-product-zoom .infoArea td .period { display:block; margin:7px 0 0; }
.mid-0 .xans-product-zoom .infoArea td .mileage li { line-height:1.7em; }
.mid-0 .xans-product-zoom .infoArea .quantity { display:inline-block; position:relative; width:50px; vertical-align:top; }
.mid-0 .xans-product-zoom .infoArea .quantity input { width:22px; height:23px; padding:0 2px 0 3px; line-height:23px; border:1px solid #d4d8d9; border-radius:3px 0 0 3px; }
.mid-0 .xans-product-zoom .infoArea .quantity .up { position:absolute; left:28px; top:0; }
.mid-0 .xans-product-zoom .infoArea .quantity .down { position:absolute; left:28px; top:12px; }
.mid-0 .xans-product-zoom .infoArea td .delivery input { border:0; }
.mid-0 .xans-product-zoom .infoArea td .delivery label { margin:0 30px 0 0; }
.mid-0 .xans-product-zoom .infoArea td img.qrcode { border:1px solid #e1e1e1; }
.mid-0 .xans-product-zoom .infoArea td #span_product_price_text {}
.mid-0 .xans-product-zoom .infoArea td #span_product_coupon_dc_price {}
.mid-0 .xans-product-zoom .infoArea td.fileInfo input { width:288px; border:1px solid #c5c5c5; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; }
.mid-0 .xans-product-zoom .infoArea td.fileInfo .infoDesc { margin:0 0 10px 0; }
.mid-0 .xans-product-zoom .infoArea td.fileInfo li { margin:4px 0 0; }
.mid-0 .xans-product-zoom .infoArea td.fileInfo li img { vertical-align:bottom; }

.mid-0 .xans-product-zoom .infoArea td.selectButton { text-align:right; }
.mid-0 .xans-product-zoom .infoArea .xans-product-addoption th,
.mid-0 .xans-product-zoom .infoArea .xans-product-option th { padding:5px 0 5px 4px; }
.mid-0 .xans-product-zoom .infoArea .xans-product-addoption td,
.mid-0 .xans-product-zoom .infoArea .xans-product-option td { padding:4px 10px 4px 0; }
.mid-0 .xans-product-zoom .infoArea .xans-product-addoption:first-child th,
.mid-0 .xans-product-zoom .infoArea .xans-product-option:first-child th,
.mid-0 .xans-product-zoom .infoArea .xans-product-fileoption th { padding-top:14px; border-top:1px solid #e8e8e8; }
.mid-0 .xans-product-zoom .infoArea .xans-product-addoption:first-child td,
.mid-0 .xans-product-zoom .infoArea .xans-product-option:first-child td,
.mid-0 .xans-product-zoom .infoArea .xans-product-fileoption td { padding-top:10px; border-top:1px solid #e8e8e8; }

.mid-0 .xans-product-zoom .infoArea .xans-product-addoption td .inputWrap { display:inline-block; width:207px; }
.mid-0 .xans-product-zoom .infoArea .xans-product-addoption .txtByte { vertical-align:middle; letter-spacing:-1px; }
.mid-0 .xans-product-zoom .infoArea .xans-product-addoption .txtByte strong { }

/* 상품옵션 */
.mid-0 .xans-product-zoom .infoArea .xans-product-option .value { color:#767479; word-break:break-all; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .value .ec-product-value { color:#363437; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button li { position:relative; overflow:hidden; display:inline-block; margin:0 5px 3px 0; box-sizing:border-box; vertical-align:top; border:1px solid #d7d7d7; background:#fff; *display:inline; *zoom:1; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button li:last-child { margin-right:0; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button li a { display:block; min-width:28px; text-align:center; text-decoration:none; word-break:break-all; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button li a span { display:inline-block; padding:6px 5px; box-sizing:border-box; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button.ec-product-preview li { padding:3px; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button.ec-product-preview li a { min-width:22px; width:22px; height:22px; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button.ec-product-preview li a img { max-width:100%; max-height:100%; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button.ec-product-preview li a span { overflow:hidden; line-height:0; font-size:0; padding:0; text-indent:120%; white-space:nowrap; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span,
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-disabled span { position:absolute; left:0; top:0; z-index:1; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span { background:url("//img.echosting.cafe24.com/skin/base/product/soldout_bg.png") repeat; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button .ec-product-soldout { border-style:dashed; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button .ec-product-soldout a span { display:inline-block; width:100%; height:100%; cursor:not-allowed; color:#d7d7d7; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button .ec-product-soldout.ec-product-selected { border-style:dashed; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button .ec-product-disabled a { cursor:default; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button .ec-product-disabled a span { display:inline-block; width:100%; height:100%; color:#000; background:#555; filter:alpha(opacity=30); opacity:0.3; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button .ec-product-selected { border:2px solid #495164; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-button .ec-product-selected a { margin:-1px; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-radio > li { display:inline-block; margin:0 0 3px; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-radio label { margin:0 7px 0 0; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-radio label input { margin:0 2px 0 0; }
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-radio .ec-product-disabled,
.mid-0 .xans-product-zoom .infoArea .xans-product-option .ec-product-radio .ec-product-soldout { color:#d7d7d7; }


.mid-0 .xans-product-zoom #divNvPointInfo { display:none; position:absolute; z-index:99; width:245px; padding:10px; background:#fff; border:1px solid #5B9761; }
.mid-0 .xans-product-zoom #divNvPointInfo a { display:block; padding:5px 0 0; }
.mid-0 .xans-product-zoom #divNvPointInfo a img { vertical-align:middle; }
.mid-0 .xans-product-zoom #imgNaverMileageHelp { cursor:pointer; }

/* 세트상품 */
.mid-0 .xans-product-zoom .productSet { margin:10px 0 0; border:1px solid #d7d5d5; border-bottom:0; }
.mid-0 .xans-product-zoom .productSet > .title { position:relative; height:40px; line-height:40px; margin:0; box-sizing:border-box; border-bottom:1px solid #e9e9e9; background-color:#fbfafa; }
.mid-0 .xans-product-zoom .productSet > .title h3 { margin:0 0 0 9px; padding:0; font-size:12px; color:#353535; }
.mid-0 .xans-product-zoom .productSet .product > li { position:relative; border-bottom:1px solid #d7d5d5; }
.mid-0 .xans-product-zoom .productSet .thumbnail { position:absolute; top:19px; left:19px; z-index:1; width:100px; }
.mid-0 .xans-product-zoom .productSet .thumbnail img { max-width:100%; border:1px solid #ededed; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.mid-0 .xans-product-zoom .productSet .information { position:relative; padding:19px 19px 0 135px; }
.mid-0 .xans-product-zoom .productSet .information > p { margin:0 0 10px; }
.mid-0 .xans-product-zoom .productSet .information .name { padding-right:60px; }
.mid-0 .xans-product-zoom .productSet .information .price .del { font-weight:normal; }
.mid-0 .xans-product-zoom .productSet .information .salePrice { color:#ff8a56; font-weight:bold; }
.mid-0 .xans-product-zoom .productSet .information .btnInfo { position:absolute; top:19px; right:19px; z-index:1; display:block; width:57px; height:20px; vertical-align:middle; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/btn_info.gif") no-repeat 0 0; }
.mid-0 .xans-product-zoom .productSet .information .btnInfo.selected { background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/btn_info_on.gif") no-repeat 0 0; }
.mid-0 .xans-product-zoom .productSet .information .btnInfo span { overflow:hidden; font-size:0; width:0; height:0; line-height:0; text-indent:120%; }
.mid-0 .xans-product-zoom .productSet .option { padding:10px 19px 9px 135px; }
.mid-0 .xans-product-zoom .productSet .option > li { margin:0 0 12px; }
.mid-0 .xans-product-zoom .productSet .option .name { display:block; margin:0 0 5px; font-weight:normal; }
.mid-0 .xans-product-zoom .productSet .option input[type=text] { width:80%; }
.mid-0 .xans-product-zoom .productSet .option .quantity { margin:7px 0 0; }
.mid-0 .xans-product-zoom .productSet .option .selectButton { margin:0 0 6px; }
.mid-0 .xans-product-zoom .productSet .guide { overflow:hidden; position:relative; margin:0 19px; }
.mid-0 .xans-product-zoom .productSet .guide:after { content:""; display:block; clear:both; }
.mid-0 .xans-product-zoom .productSet .guide .qty { float:left; display:inline-block; padding:12px 0; color:#757575; }
.mid-0 .xans-product-zoom .productSet .guide .qty:before { content:""; position:absolute; top:0; left:0; display:inline-block; width:100%; border-top:1px solid #e8e8e8; }
.mid-0 .xans-product-zoom .productSet .guide .sizeGuide { float:right; height:15px; margin:12px 0; background:url("//img.echosting.cafe24.com/skin/base/product/ico_sizeGuide.gif") no-repeat 0 1px; }
.mid-0 .xans-product-zoom .productSet .guide .sizeGuide:before { content:""; position:absolute; top:0; left:0; display:inline-block; width:100%; border-top:1px solid #e8e8e8; }
.mid-0 .xans-product-zoom .productSet .guide .sizeGuide a { display:inline-block; padding:0 15px 0 24px; background:url("//img.echosting.cafe24.com/skin/base/product/ico_sizeGuide_go.gif") no-repeat 100% center; }
.mid-0 .xans-product-zoom .productSet dl.xans-product-quantity { padding:0 0 10px; border-top:0; border-bottom:1px solid #ddd; }
.mid-0 .xans-product-zoom .productSet dl.xans-product-quantity dt { width:135px; padding:0 0 0 20px; }

/* 수량 */
.mid-0 .xans-product-zoom dl.xans-product-quantity { overflow:hidden; margin:10px 0 0; padding:10px 0 0; border-top:1px solid #ddd; }
.mid-0 .xans-product-zoom dl.xans-product-quantity:after { content:""; display:block; claer:both; }
.mid-0 .xans-product-zoom dl.xans-product-quantity dt { float:left; width:125px; margin:0 0 2px; padding:0 0 0 8px; line-height:22px;-webkit-box-sizing:border-box; -moz-webkit-box:border-box; box-sizing:border-box; font-weight:normal; }
.mid-0 .xans-product-zoom dl.xans-product-quantity dd { display:block; margin:0 0 2px; padding:0 5px 0 125px; min-height:22px; line-height:22px; word-wrap:break-word; }

/* 총 상품 */
.mid-0 .xans-product-zoom #totalProducts { margin:21px 0 0; }
.mid-0 .xans-product-zoom #totalProducts .info { padding:0 0 9px 18px; background: url("//img.echosting.cafe24.com/skin/base_ko_KR/product/ico_information.gif") no-repeat 0 1px; }
.mid-0 .xans-product-zoom #totalProducts table { margin:0; table-layout:auto; }
.mid-0 .xans-product-zoom #totalProducts table .left { text-align:left; }
.mid-0 .xans-product-zoom #totalProducts table .center { text-align:center; }
.mid-0 .xans-product-zoom #totalProducts table .right { padding-right:9px; text-align:right; }
.mid-0 .xans-product-zoom #totalProducts thead th { height:0; padding:0; font-size:0; line-height:0; *position:absolute;}
.mid-0 .xans-product-zoom #totalProducts tbody th { vertical-align:middle; }
.mid-0 .xans-product-zoom #totalProducts tbody td { padding:9px 0; border-top:1px solid #ebebeb; line-height:18px; vertical-align:middle; word-wrap:break-word; word-break:break-all; }
.mid-0 .xans-product-zoom #totalProducts tbody tr td:first-child { padding-left:4px; }
.mid-0 .xans-product-zoom #totalProducts tbody tr:first-child td { border-top:1px solid #9a9ba0; }
.mid-0 .xans-product-zoom #totalProducts tbody td p { padding:0 10px 0 0; line-height:21px; }
.mid-0 .xans-product-zoom #totalProducts tbody td p.product span { line-height:18px; }
.mid-0 .xans-product-zoom #totalProducts tbody td img { vertical-align:middle; }
.mid-0 .xans-product-zoom #totalProducts tbody td .quantity { display:inline-block; position:relative; width:50px; vertical-align:top; *margin:0 4px 0 0; }
.mid-0 .xans-product-zoom #totalProducts tbody td .quantity input { width:22px; height:23px; padding:0 2px 0 3px; line-height:23px; border:1px solid #d4d8d9; border-radius:3px 0 0 3px; *margin-top:-1px; }
.mid-0 .xans-product-zoom #totalProducts tbody td .quantity .up { position:absolute; left:28px; top:0; }
.mid-0 .xans-product-zoom #totalProducts tbody td .quantity .down { position:absolute; left:28px; top:12px; }
    .mid-0 .xans-product-zoom #totalProducts tbody.option_products tr td .quantity input,
    .mid-0 .xans-product-zoom #totalProducts tbody.add_products tr td .quantity input { height:19px; line-height:19px; }
    .mid-0 .xans-product-zoom #totalProducts tbody.option_products tr td .quantity .down,
    .mid-0 .xans-product-zoom #totalProducts tbody.add_products tr td .quantity .down { bottom:0; top:auto; }
.mid-0 .xans-product-zoom #totalProducts tbody td .mileage { display:block; white-space:nowrap; }

/* 총 상품 금액 */
.mid-0 .xans-product-zoom .totalPrice { margin:10px 0 0; padding:24px 9px 19px; border-top:1px solid #9a9ba0; vertical-align:middle; }

/* 배송비 차등부과 레이어 */
.mid-0 .xans-product-zoom .btnTooltip { display:inline-block; position:relative; vertical-align:middle; *display:inline; *zoom:1; }
body.popup .mid-0.xans-product-zoompackage .differentialShipping { z-index:1; display:none; overflow:hidden; position:absolute; right:0; top:17px; width:350px; margin:0 -15px 0 0; }
body.popup .mid-0.xans-product-zoompackage .differentialShipping .content { margin:0; padding:20px; height:auto; }
body.popup .mid-0.xans-product-zoompackage .differentialShipping .content ul { line-height:25px; }
body.popup .mid-0.xans-product-zoompackage .differentialShipping .content li { overflow:hidden; }
body.popup .mid-0.xans-product-zoompackage .differentialShipping .content li strong { float:left; }
body.popup .mid-0.xans-product-zoompackage .differentialShipping .content li span { float:right; }
body.popup .mid-0.xans-product-zoompackage .differentialShipping .content .info { margin:7px 0 0; padding:7px 0 0; border-top:1px dotted #b0b1b3; text-align:right; }
body.popup .mid-0.xans-product-zoompackage .shippingFee { position:relative; display:inline-block; }
body.popup .mid-0.xans-product-zoompackage .shippingFee .ec-base-tooltip { display:block; margin:0 0 0 -180px; width:360px; }
body.popup .mid-0.xans-product-zoompackage .shippingFee .ec-base-tooltip table tbody th { width:70px; }

/* 회원등급별 할인가 적용 */
body.popup .mid-0.xans-product-zoompackage .infoArea  td > span > ul.discountMember > li { position:relative; float:left; }
body.popup .mid-0.xans-product-zoompackage .infoArea  td ul.discountMember li a { display:block; margin:0 4px 4px 0; }
body.popup .mid-0.xans-product-zoompackage .infoArea  td ul li .discount_layer h3 { margin:0 0 8px; padding:0 10px; font-size:12px; border-bottom:0; }
body.popup .mid-0.xans-product-zoompackage .infoArea  td ul li .discount_layer { display:block; left:-140px; min-width:300px;}
body.popup .mid-0.xans-product-zoompackage .infoArea  td ul li .discount_layer .content { overflow-x:hidden; overflow-y:auto; max-height:400px; }
body.popup .mid-0.xans-product-zoompackage .infoArea  td ul li .discount_layer thead th { padding:0; width:0; height:0; font-size:0; line-height:0; border-width:0 1px 0 1px; }
body.popup .mid-0.xans-product-zoompackage .infoArea  td ul li .discount_layer tbody th { width:auto; }

/* 툴팁 */
.mid-0 .xans-product-zoom .ec-base-tooltip { display:none; z-index:11; position:absolute; top:24px; padding:15px; border:1px solid #565960; background:#fff;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.15);
}
.mid-0 .xans-product-zoom .ec-base-tooltip h3 { margin:0 0 8px; padding:0 10px; font-size:12px; border-bottom:0; background:url("//img.echosting.cafe24.com/skin/base/common/ico_layer_title.gif") no-repeat 0 50%; }
.mid-0 .xans-product-zoom .ec-base-tooltip h3 + p { margin:0 10px 8px; }
.mid-0 .xans-product-zoom .ec-base-tooltip h4 { margin:15px 10px 8px 5px; font-size:12px; }
.mid-0 .xans-product-zoom .ec-base-tooltip h4:before { display:inline-block; content:""; margin:0 5px 0 0; width:3px; height:3px; background:#666; vertical-align:middle; }
.mid-0 .xans-product-zoom .ec-base-tooltip .btnClose { position:absolute; right:14px; top:14px; }
.mid-0 .xans-product-zoom .ec-base-tooltip .edge { z-index:20; position:absolute; left:50%; top:-6px; display:block; margin:0 0 0 -5px; width:10px; height:6px; }
.mid-0 .xans-product-zoom .ec-base-tooltip .edge:before,
.mid-0 .xans-product-zoom .ec-base-tooltip .edge:after { display:inline-block; content:""; position:absolute; top:0; width:0; height:0; border:solid transparent; }
.mid-0 .xans-product-zoom .ec-base-tooltip .edge:before { margin:1px 0 0; border-bottom-color:#565960; border-width:0 5px 5px 5px; }
.mid-0 .xans-product-zoom .ec-base-tooltip .edge:after { left:1px; margin:2px 0 0; border-bottom-color:#fff; border-width:0 4px 4px 4px; }
.mid-0 .xans-product-zoom .ec-base-tooltip table th,
.mid-0 .xans-product-zoom .ec-base-tooltip table td { padding:7px 10px 8px 10px; border:1px solid #e8e8e8; line-height:1.3em; }
.mid-0 .xans-product-zoom .ec-base-tooltip table th { padding-right:0; background:#fbf9fa; }
.mid-0 .xans-product-zoom .ec-base-tooltip table thead th { text-align:center; }
.mid-0 .xans-product-zoom .ec-base-tooltip table tbody th { text-align:left; }
.mid-0 .xans-product-zoom .ec-base-tooltip table .left { text-align:left; }
.mid-0 .xans-product-zoom .ec-base-tooltip table .center { text-align:center; }
.mid-0 .xans-product-zoom .ec-base-tooltip table .right { text-align:right; }
.mid-0 .xans-product-zoom .ec-base-tooltip table .info { padding:0; color:#757575; }
.mid-0 .xans-product-zoom .ec-base-tooltip table p.info:before,
.mid-0 .xans-product-zoom .ec-base-tooltip table ul.info li:before { display:inline-block; content:""; margin:0 3px 0 0; width:4px; height:1px; background:#757575; vertical-align:middle; }
.mid-0 .xans-product-zoom .ec-base-tooltip .info { padding:10px 10px 0; margin:5px 0 0; }
.mid-0 .xans-product-zoom .ec-base-tooltip p.bullet,
.mid-0 .xans-product-zoom .ec-base-tooltip ul.bullet { margin:8px 10px; }
.mid-0 .xans-product-zoom .ec-base-tooltip p.bullet:before,
.mid-0 .xans-product-zoom .ec-base-tooltip ul.bullet li:before { display:inline-block; content:""; margin:-3px 3px 0 0; width:0; height:0; border:solid transparent; border-left-color:#333; border-width:2px 0 2px 2px; vertical-align:middle; }
.mid-0 .xans-product-zoom .ec-base-tooltip ul.bullet li { line-height:1.5em; }
.mid-0 .xans-product-zoom .ec-base-tooltip .txtEm { color:#008bcc; }
.mid-0 .xans-product-zoom .ec-base-tooltip .txtWarn { color:#f65b54; }

/* 세트상품 추가정보 레이어 */
.mid-0 .xans-product-zoom .productSet .product { position:relative; }
.mid-0 .xans-product-zoom .productSet .description { z-index:10; position:absolute; top:38px; right:0; padding:7px 0 0; }
.mid-0 .xans-product-zoom .productSet .description .xans-product-detail { position:relative; padding:15px; border:1px solid #565960; background:#fff; }
.mid-0 .xans-product-zoom .productSet .description > h3 { margin:0 0 8px; padding:0 10px; font-size:12px; border-bottom:0; background:url("//img.echosting.cafe24.com/skin/base/common/ico_layer_title.gif") no-repeat 0 50%; }
.mid-0 .xans-product-zoom .productSet .description .content { padding:0; }
.mid-0 .xans-product-zoom .productSet .description p strong { color:#0088d4; }
.mid-0 .xans-product-zoom .productSet .description thead th { padding:0; height:0; font-size:0; line-height:0; }
.mid-0 .xans-product-zoom .productSet .description tbody { border:1px solid #d7d5d6; }
.mid-0 .xans-product-zoom .productSet .description th,
.mid-0 .xans-product-zoom .productSet .description tr:first-child th,
.mid-0 .xans-product-zoom .productSet .description tr:first-child td { background:#fbf9fa; border-right:1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; color:#363636; }
.mid-0 .xans-product-zoom .productSet .description th,
.mid-0 .xans-product-zoom .productSet .description td { height:15px; border-bottom:1px solid #e8e8e8; }
.mid-0 .xans-product-zoom .productSet .description td,
.mid-0 .xans-product-zoom .productSet .description tr:first-child td { padding:5px 8px; text-align:left; background:#fff; }
.mid-0 .xans-product-zoom .productSet .description tr:last-of-type th,
.mid-0 .xans-product-zoom .productSet .description tr:last-of-type td { border-bottom:0; }
.mid-0 .xans-product-zoom .productSet .description .color td { font-size:0; line-height:0; }
.mid-0 .xans-product-zoom .productSet .description .chips { display:inline-block; width:28px; height:18px; margin:0 2px 3px 0; border:1px solid #e3e3e3; }
.mid-0 .xans-product-zoom .productSet .description .btnClose { background:transparent; }
.mid-0 .xans-product-zoom .productSet .description > .ec-base-tooltip { display:block; top:0; }
.mid-0 .xans-product-zoom .productSet .description > .ec-base-tooltip > .edge { z-index:20; position:absolute; left:auto; right:40px; display:block; margin:0 0 0 -5px; width:9px; height:6px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_option_arrow.gif") no-repeat 0 0; }