.mid-0.xans-layout-footer { float:right; min-height:176px; padding:0 0 0 24px; }
.mid-0.xans-layout-footer .utilMenu { overflow:hidden; padding:13px 0 13px 0; border-bottom:1px solid #e8e8e8; *zoom:1; }
.mid-0.xans-layout-footer .utilMenu li { float:left; padding:0 10px 0 10px; background:url("//img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_util_footer.gif") no-repeat 0 50%; }
.mid-0.xans-layout-footer .utilMenu li.home { padding-left:0; background:none; }
.mid-0.xans-layout-footer .address { padding:13px 130px 13px 0; line-height:1.5; word-wrap:break-word; word-break:break-all; }
.mid-0.xans-layout-footer .address span { display:inline-block; padding:0 25px 0 0; }
.mid-0.xans-layout-footer .copyright { padding:8px 0 8px 0; border-top:1px solid #e8e8e8; }
.mid-0.xans-layout-footer .pageTop { position:absolute; right:0; top:10px; }
.mid-0.xans-layout-footer .hosting { position:absolute; right:0; top:77px; }