.mid-0.xans-layout-logobottom { float:left; padding:64px 0 0 0; }
.mid-0.xans-layout-logobottom a { display:block; text-decoration:none; word-wrap:break-word; }
.mid-0.xans-layout-logobottom img { max-width:100%; }