.mid-0.xans-member-join .interest { line-height:25px; }
.mid-0.xans-member-join dl.desc { overflow:hidden; width:600px; }
.mid-0.xans-member-join dl.desc dt,
.mid-0.xans-member-join dl.desc dd { float:left; margin:0 0 5px; }
.mid-0.xans-member-join dl.desc dt { width:80px; line-height:22px; }
.mid-0.xans-member-join dl.desc dd { width:500px; }
.mid-0.xans-member-join #bname,
.mid-0.xans-member-join #bssn1,
.mid-0.xans-member-join #foreigner_ssn { margin:0; }

/* INPUT SIZE */
.mid-0.xans-member-join #realNameAuth p span { display:inline-block; width:80px; }
.mid-0.xans-member-join #ipinWrap img,
.mid-0.xans-member-join #mobileWrap img { display:block; }

.mid-0.xans-member-join #hint_answer { width:500px; }
.mid-0.xans-member-join #postcode1,
.mid-0.xans-member-join #postcode2 { width:40px; text-align:center; }
.mid-0.xans-member-join #addr1,
.mid-0.xans-member-join #addr2 { width:280px; }
.mid-0.xans-member-join #phone1,
.mid-0.xans-member-join #mobile1 { width:60px; }
.mid-0.xans-member-join #phone2,
.mid-0.xans-member-join #phone3,
.mid-0.xans-member-join #mobile2,
.mid-0.xans-member-join #mobile3 { width:50px; }
.mid-0.xans-member-join #birth_year,
.mid-0.xans-member-join #marry_year,
.mid-0.xans-member-join #partner_year { width:60px; }
.mid-0.xans-member-join #birth_month,
.mid-0.xans-member-join #marry_month,
.mid-0.xans-member-join #partner_month,
.mid-0.xans-member-join #birth_day,
.mid-0.xans-member-join #marry_day,
.mid-0.xans-member-join #partner_day { width:30px; }
.mid-0.xans-member-join #bank_code { width:240px; }
.mid-0.xans-member-join #c_bank_account_no { width:230px; }

.mid-0.xans-member-join #job,
.mid-0.xans-member-join #job_class,
.mid-0.xans-member-join #school,
.mid-0.xans-member-join #region,
.mid-0.xans-member-join #internet,
.mid-0.xans-member-join #child,
.mid-0.xans-member-join #car,
.mid-0.xans-member-join #earning { width:200px; }

.mid-0.xans-member-join #add1,
.mid-0.xans-member-join #add2,
.mid-0.xans-member-join #add3,
.mid-0.xans-member-join #add4,
.mid-0.xans-member-join #add5,
.mid-0.xans-member-join #add6,
.mid-0.xans-member-join #add7,
.mid-0.xans-member-join #add8,
.mid-0.xans-member-join #add9 { width:500px; }

.mid-0.xans-member-join > h3 { padding:50px 0 10px; font-size:16px; color:#2e2e2e; }
.mid-0.xans-member-join .agreeArea h3 { margin:0 0 10px; font-size:12px; color:#353535; }
.mid-0.xans-member-join .boxTheme { margin:0; border-width:1px; background-color:#fbfafa; }
.mid-0.xans-member-join .boxTheme.gStrong { position:relative; z-index:2; }
.mid-0.xans-member-join .boxTheme.gStrong p { font-size:14px; color:#353535; line-height:22px; }
.mid-0.xans-member-join .boxTheme + .boxTheme { margin-top:-1px; }
.mid-0.xans-member-join .agreeArea .content { overflow:auto; height:110px; padding:20px; border:1px solid #d5d5d5; background:#fff; }
.mid-0.xans-member-join .agreeArea .check { padding:7px 0 0 0; }
.mid-0.xans-member-join .agreeArea .check li span { display:inline-block; min-width:170px; }
.mid-0.xans-member-join span.ec-base-chk { display:inline-block; position:relative; margin:0 8px 0 0; width:22px; height:22px; vertical-align:top; cursor:pointer; }
.mid-0.xans-member-join span.ec-base-chk input { z-index:1; position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; cursor:pointer; }
.mid-0.xans-member-join span.ec-base-chk .checkbox { position:absolute; top:0; left:0; width:100%; height:100%; background:url("//img.echosting.cafe24.com/skin/base/common/bg_join_check.png") no-repeat 0 0; }
.mid-0.xans-member-join span.ec-base-chk input:checked + .checkbox { background-position:-34px 0; }

.mid-0.xans-member-join p.txtDesc,
.mid-0.xans-member-join ul.txtDesc li { position:relative; padding:0 0 0 9px; margin:3px 0 0; line-height:1.4; }
.mid-0.xans-member-join p.txtDesc:before,
.mid-0.xans-member-join ul.txtDesc li:before { position:absolute; top:7px; left:0; display:block; content:""; width:4px; height:1px; background:currentColor; }